@import '../../assets/sass/main';

    
.custom-button{
    background: $color-black;
    color: $color-white;
    padding: 1rem 3rem;
    font-size: $default-font-size;
    font-family: inherit;
    outline: none;
    border: 2px solid transparent;
    cursor: pointer;
    
    &:hover{
        background: $color-white;
        color: $color-black;
        border: 2px solid $color-black;
        
    }
    
}
.no-border{
    border: none;
    &:hover{
        border: none;
    }
}

.inverted{
    background: $color-white;
    color: $color-black;
    border: 2px solid $color-black;
    &:hover{
        color: $color-white;
        background: $color-black;
    }
}
    
