@import '../../assets/sass/main';

.search-dropdown{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.95);
    text-align: center;
    overflow: hidden;
    z-index: 110;

    .search-input{
        width: 40%;
        margin: 5rem auto;
        height: 40px;
        padding-left: 2rem;
        border: 2px solid $color-gray-darker;
        border-radius: 3rem;
        background-color: $color-gray-lighter;
        font-size: $default-font-size;
        outline: none;
        z-index: 100;

        &:focus{
            border: 2px solid $color-gray-darker;
        }

        @include responsive(phone){
            width: 60%;
        }

            
    }
    ::placeholder{
        color: $color-gray-darker;
        letter-spacing: 1px;
    }

    .close-icon{
        position: absolute;
        font-size: 3rem;
        top: 30px;
        right: 30px;
        color: $color-gray-darker;
        cursor: pointer;

        &:hover{
            color: $color-gray-lighter;
        }
        @include responsive(phone){
            top: 20px;
            right: 20px;
        }
    }
    .search-dropdown-content{
        position: relative;
        width: 50%;
        margin: 0 auto;
        height: max-content;
        max-height: 50vh;
        overflow-y: scroll;
        background: $color-gray-lighter;

        &::-webkit-scrollbar{
            width: 10px;
            padding: 3px;
            margin: 10px;
        }
        &::-webkit-scrollbar-track{
            background: $color-gray-lighter;
        }
        &::-webkit-scrollbar-thumb {
            background: $color-gray-darker; 
            border-radius: 10px;
    
            &:hover{
                background: #5a5a5a; 
            }
        }

        @include responsive(tab-small){
            width: 90%;
        }
    }

    

}