@import '../../assets/sass/main';
.choose-box{
    width: 80%;
    margin: 10rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .gender-box{
        position: relative;
        width: 50rem;
        height: 40rem;
        margin-top: 1rem;
        border: 5px solid $color-gray-darker;
        
        .custom-button{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            border: none;
            opacity: 0.9;
        }

    }   
}