.heading-small{
    width: 100%;
    background: #f3f3f3;
    text-align: center;

    .heading-h1{
        font-size: 4rem;
        font-weight: 300;
        letter-spacing: 1rem;
        margin: 0;
        padding: 5rem;
    }
}