@import '../../assets/sass/main';
.checkout-summary{
    background: $color-gray-lighter;
    width: 35rem;
    height: max-content;
    
    .summary-title{
        text-align: center;
        text-transform: uppercase;
    }
    .shipping{
        border-top: 1px solid $color-gray-darker; 
    }
    .subtotal, .shipping, .total{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .5rem 2rem;
        text-transform: uppercase;
        
    }

    .subtotal-title, .shipping-title, .total-title, .subtotal-price, .shipping-price, .total-price{
        font-size: $default-font-size;
        letter-spacing: 2px;
    }

    .total{
        
        background: $color-green;
        color: $color-white;
        
    }
}