@import '../../assets/sass/main';
.about{
    color: white;
    text-align: center;

    .info{
        width: 90%;
        margin: 0 auto;
        letter-spacing: 4px;
        background: #000000a4; 

        @include responsive(phone){
            width: 100%;
            letter-spacing: 3px;
        }

        .about-h1{
            font-size: 5rem;
            font-weight: 400;
            padding-top: 5rem;
        }
        .about-text{
            font-size: 2rem;
            line-height: 3rem;
            font-weight: 300;
            padding: 10rem;
            margin-bottom: 0;

            @include responsive(phone){
                padding: 2rem;
            }
        }
    }
    
}