@import '../../assets/sass/main';

.sign-up{
    
    width: 50rem;
    padding: 5rem 10rem;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    text-transform: uppercase;
    text-align: center;
    background: $color-gray-lighter;

    .register-header{
        margin-bottom: 5rem;
    }
    .form{
        
        display: flex;
        flex-direction: column;
        

        input[type='password'], input[type='email'], input[type='text']{
            
            font-size: $default-font-size;
            letter-spacing: 2px;
            padding: 2rem;
            margin-bottom: 5px;
            background: $color-gray-lighter;
            border: none;
            border-left: 3px solid $color-gray-lighter;
            border-bottom: 1px solid $color-black;
            outline: none;
            
            &:focus{
                border-left: 3px solid $color-green;
                border-bottom: 1px solid $color-gray-lighter;
            }
        }

        .text-box{
            resize: none;
        }
    }
    .custom-button{
        margin-top: 2rem;
    }
        

}