@import '../../assets/sass/main';

.checkout-container{
    width: 90%;
    margin: 5rem auto;
    display: flex;
    justify-content: space-between;

    @include responsive(tab-large){
        flex-direction: column;
    }
    
    .pay-info{
        margin: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        .checkout-summary{
            margin-bottom: 5rem;
        }

        .test-info{
            margin-top: 5rem;
            font-size: $default-font-size;
            background: $color-gray-lighter;
            padding: 3rem;
            
            p{
                color: $color-red;
            }
        }
    }
    
}
.checkout-message{
    
    text-align: center;

    h3, a{
        text-decoration: none;
        font-size: 3rem;
        color: $color-red;
        font-weight: 300;
    }

    .custom-button{
        margin: 1rem auto 10rem auto;

        
    }
    
}