.jumbotron{
    margin: 0 auto;
    display: flex;
    height: 53rem;
    @media only screen and(max-width: 800px){
        justify-content: center;
      }
    
    
    .sales-card{
        margin: 5rem 5vw;
        
    }
}