@import '../../assets/sass/main';
.contact{
    width: 90%;
    margin: 5rem auto;
    display: flex;
    justify-content: space-around;


    @include responsive(tab-large){
        flex-direction: column;
        align-items: center;
    }
    

    .contact-form{
        width: 50%;
        padding: 3rem;
        border: 1px solid $color-gray-darker;
        display: flex;
        flex-direction: column;
        
        @include responsive(tab-small){
            width: 80%;
        }

        .contact-header{
            text-align: center;
        }
        .form{
            
            display: flex;
            flex-direction: column;

            input[type='text'], input[type='email'], input[type='tel'], .text-box{
                font-size: $default-font-size;
                padding: 2rem;
                border: none;
                border-bottom: 1px solid $color-gray-darker;
                outline: none;
                letter-spacing: 2px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

                &:focus{
                    border-bottom: 1px solid $color-green;
                }
            }

            .text-box{
                resize: none;
            }
        }

        .custom-button{
            margin-top: 2rem;
        }
    }

    .contact-info{
        width: 40%;
        margin: 5rem;
        padding: 3rem;
        background: $color-gray-lighter;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        @include responsive(tab-small){
            width: 80%;
        }
        
        
        .info-header{
            text-align: center;
        }

        .info{
            margin: 4rem 2rem;
            display: flex;
            flex-direction: column;
            text-transform: uppercase;
            .phone, .email, .address{
                color: $color-gray-darker;
            }
        }

        .social-icons{
                width: 20rem;
                display: flex;
                justify-content: space-between;
            .social-icon{
                width: 2.5rem;
                height: 2.5rem;
            }
        }
    }
}