@import '../../assets/sass/main';
.footer{
    
    font-size: $default-font-size;
    font-weight: 300;
    padding: 3rem;
    background: $color-gray-darker;

    .footer-box{
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        @include responsive(phone){
            flex-direction: column;
            text-align: center;
            
        }

    
        .footer-customers, .footer-social-icons, .footer-quick-links{
            display: flex;
            flex-direction: column;
            letter-spacing: 1px;
            
            .footer-h4{
                font-size: 2rem;
                font-weight: 400;
                color: $color-black;
                padding-bottom: 5px;
                border-bottom: 1px solid $color-black;
            }

            .option{
                text-decoration: none;
                color: $color-gray-lighter;
                cursor: pointer;
                line-height: 3rem;
                
                    &:hover{
                        color: $color-black;
                    }  
            }
        }
    }
    
    .footer-author{
        margin-top: 5rem;
        margin-bottom: 0;
        text-align: center;
        color: $color-black;
    }
}