@import '../../assets/sass/main';

.top-bar{
    padding: 0 8rem;
    height: 50px;
    background: $color-black;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include responsive(phone){
        padding: 0 1rem;
    }
    
    
    .social-icons{
        
        .social-icon{
            font-size: 2rem;
            margin: 1rem;
            text-decoration: none;
            color: $color-gray-darker;
            &:hover{
                color: $color-gray-lighter;
            }
        }
    }
    
    .search-icon{
        color: $color-gray-darker;
        cursor: pointer;
        font-size: $default-font-size;

        &:hover{
            color: $color-gray-lighter;
        }
    }
    .link{
        text-decoration: none;
        font-size: 1.4rem;
        letter-spacing: 1px;
        margin: 1rem;
        color: $color-gray-lighter;
        cursor: pointer;
    }
    
    .buttons{
       
        
    
        .sign-up-button{
            color: $color-black;
            background: $color-gray-lighter;
            width: max-content;
            padding: 5px;
            border-radius: 5px;
            font-weight: 500;
        }
    }
    
}