.credentials-page{
    letter-spacing: 1px;
    
    .credentials-container{
        width: 30rem;
        margin: 5rem auto;
        
        .credentials-list{
            list-style-type: none;
            
        }
    }
    a{
        text-decoration: none;
    }
}