@import '../../assets/sass/main.scss';
.checkout-items{
    width: 100%;
    margin-right: 15rem;
    
    @include responsive(tab-samll){
        margin-right: 0;
        margin-bottom: 5rem;
    }

    .message{
        font-size: 2rem;
        text-align: center;
        text-transform: uppercase;
    }
}