.checkout-items{
    width: 100%;
    margin-right: 20rem;

    .total{
        display: flex;
        justify-content: space-between;
        font-size: 1.6rem;
        h1{
            font-weight: 500;
            margin: 1rem 2rem;
        }
        p{
            font-size: 2rem;
            font-weight: 500;
        }
    }

    .message{
        font-size: 2rem;
        text-align: center;
        text-transform: uppercase;
    }
}