@import '../../assets/sass/main';
.cart-item{
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;

    .search-image{
        margin: 1rem 2rem;
        width: 5rem;
        height: 5rem;
        object-fit: cover;

    }

    .item-info{   
            font-size: $small-font-size;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .item-title{
                @include ProductTitle;
                letter-spacing: 1px;
                margin-top: 0;
                
            }

            .item-price{
                @include ProductPrice;
                font-size: 1.2rem;
                
            }
    }

    .x-mark{
        position: absolute;
        margin: 0;
        right: 1rem;
        font-size: $default-font-size;
        color: $color-red ;
        display: none;
        user-select: none;
        
        @media only screen and (any-hover: none) {
            display: initial;
        }
    }

    &:hover{
        .x-mark{
            display: initial;
        }
    }
   
}