$default-font-size: 1.6rem;
$small-font-size: 1.2rem;

$color-black: #000000;
$color-white: #ffffff;

$color-gray-lighter: #f3f3f3;
$color-gray: 	#C0C0C0;
$color-gray-darker: #787878;


$color-red: #FF6347;    
$color-green-lighter: #00A500;
$color-green: 	#008000;
$color-green-darker: #006400;